body
{
     background-color:#d8edec;
}
h1
{
     text-align:center;
     color:#101aad;
}
h2 
{
     font-size:20px;
}
p
{
     font-size:17px;
     color:#4e5451;
}
h3
{
     font-size:20px;
}
h4
{
     font-size:20px;
}