.facultylogin
{
    height:50vh;
    width:60vw;
    background-color:transparent;
    margin:80px;
    padding:10px;
    border-radius:20px;
}
label
{
    font-size: 25px;
}
input
{
    font-size: 20px;
    height:25px;
    border-radius:5px;
}
