.registration
{
    height:76vh;
    width:50vw;
    background-color:white;
    margin:80px;
    padding:5px;
    border-radius:20px;
}
.input1{
    font-size: 17px;
    height:30px;
    width:100px;
    border-radius:5px
}
label{
    font-size: 25px;
}
input{
    font-size: 17px;
    height:30px;
    border-radius:5px;
}